.reminder
  %h2 hover over images for more info

.container
  .row
    .col-md-3
      .threed
        .item
          / Parker Fox
          .thumb.thumb1
        .itemback
          .item_back_text
            %h4 Parker Fox
            When not practicing law, Parker is found exploring craft breweries and catching up on classical literary masterpieces.

    .col-md-3
      .threed
        .item
          / Kurt Weber
          .thumb.thumb2
        .itemback
          .item_back_text
            %h4 Kurt Weber
            A technologist and a piano composer. Kurt often is coding fun projects, if not he's writing piano music.
    .col-md-3
      .threed
        .item
          / Arthur Aaberg
          .thumb.thumb3
        .itemback
          .item_back_text
            %h4 Arthur Aaberg
            When not working Arthur can be found exploring the outdoors, or brewing another batch of his famous home-brew.
    .col-md-3
      .threed
        .item
          / Nick Bohn
          .thumb.thumb4
        .itemback
          .item_back_text
            %h4 Nick Bohn
            A lover of languages and travelling, Nick can be found living in various places across Europe and enjoying new Coffee Shops.
