.reminder
  %h2 hover over images for more info

.row
  .col-md-3.col-xs-6
    .threed
      .item
        / Parker Fox
        .thumb.thumb1
      .itemback
        .item_back_text
          %h4 Parker Fox
          When not practicing law, Parker is found exploring craft breweries and catching up on classical literary masterpieces.
          .row
            %a{:href => "https://www.linkedin.com/in/parker-fox-a2066655/", :target => "_blank"}
              .col-sm-1.fa.fa-linkedin.fa-2x
            %a{:href => "https://twitter.com/parkercfox", :target => "_blank"}
              .col-sm-1.fa.fa-twitter.fa-2x
            %a{:href => "https://www.instagram.com/parkercfox/", :target => "_blank"}
              .col-sm-1.fa.fa-instagram.fa-2x

  .col-md-3.col-xs-6
    .threed
      .item
        / Kurt Weber
        .thumb.thumb2
      .itemback
        .item_back_text
          %h4 Kurt Weber
          A technologist and a piano composer. Kurt often is coding fun projects, if not he's writing piano music.
          .row
            %a{:href => "https://www.linkedin.com/in/kurtdweber/", :target => "_blank"}
              .col-sm-1.fa.fa-linkedin.fa-2x
            %a{:href => "https://twitter.com/KDweber89", :target => "_blank"}
              .col-sm-1.fa.fa-twitter.fa-2x
            %a{:href => "https://open.spotify.com/artist/6Zerk0SUgW8h2pCvY3IH3u", :target => "_blank"}
              .col-sm-1.fa.fa-spotify.fa-2x
          .row
            %a{:href => "https://medium.com/@KDweber89/", :target => "_blank"}
              .col-sm-6.fa.fa-medium.fa-2x
            %a{:href => "https://github.com/KDweber89", :target => "_blank"}
              .col-sm-6.fa.fa-github.fa-2x

  .col-md-3.col-xs-6
    .threed
      .item
        / Arthur Aaberg
        .thumb.thumb3
      .itemback
        .item_back_text
          %h5 Arthur Aaberg
          When not working Arthur can be found exploring the outdoors, or brewing another batch of his famous home-brew.
          .col-xs-offset-1
            %a{:href => "https://www.linkedin.com/in/arthur-aaberg-1b9b6635/", :target => "_blank"}
              .col-sm-1.fa.fa-linkedin.fa-2x

  .col-md-3.col-xs-6
    .threed
      .item
        / Nick Bohn
        .thumb.thumb4
      .itemback
        .item_back_text
          %h5 Nick Bohn
          A lover of languages and travelling wherever Nick is visitig, he is often checking out the local Coffee scene.
          .col-xs-offset-1
            %a{:href => "https://www.linkedin.com/in/nibohn/", :target => "_blank"}
              .col-sm-1.fa.fa-linkedin.fa-2x
