/ Make this lower section a partial, this file is already too big

/ %h3
/   Parker Fox

/ %p
/   The man who origionally had the idea to create Cafe Ambience. Parker now spends much of his time studying and working with law. Parker is often found exploring craft breweries and catching up on classical literary masterpieces.

/ %h3
/   Kurt Weber

/ %p
/   Considering himself a life long learner, who has a passion for innovative and technology. Kurt often finds himself working on startups. When not working on Cafe Ambience, he can usually be found playing the piano, snowboarding, or playing soccer.

/ %h3
/   Arthur Aaberg

/ %p
/   A do-it-yourselfer who has a passion for figuring out how things work, why they are not working, and how to fix them. When not working on Cafe Ambience or at work, he enjoys woodworking and getting outside to explore -- be it a simple bike ride or fishing trip, day hiking or a week long adventure by canoe.

/ %h3
/   Nick Bohn
/ %p
/   Coffeeholic, black and no sugar from Germany. Econ-Student who loves languages and travelling. Nick and Kurt have been friends ever since he decided to spend a year living in the United States as an exchange student.


.reminder
  %h2 hover over images for more info

.container
  .row
    .col-md-3
      .threed
        .item
          Parker Fox
          .thumb.thumb1
        .itemback
          %p The man who origionally had the idea to create Cafe Ambience.  Parker now spends much of his time studying and working with law. Parker is often found exploring craft breweries and catching up on classical literary masterpieces.
    .col-md-3
      .threed
        .item
          Kurt Weber
          .thumb.thumb2
        .itemback
          Considering himself a life long learner, who has a passion for innovative and technology.  Kurt often finds himself working on startups. When not working on Cafe Ambience, he can usually be found playing the piano, snowboarding, or playing soccer.
    .col-md-3
      .threed
        .item
          Arthur Aaberg
          .thumb.thumb3
        .itemback
          A do-it-yourselfer who has a passion for figuring out how things work, why they are not working, and how to fix them. When not working on Cafe Ambience or at work, he enjoys woodworking and getting outside to explore -- be it a simple bike ride or fishing trip, day hiking or a week long adventure by canoe.
    .col-md-3
      .threed
        .item
          Nick Bohn
          .thumb.thumb4
        .itemback
          Coffeeholic, black and no sugar from Germany. Econ-Student who loves languages and travelling.  Nick and Kurt have been friends ever since he decided to spend a year living in the United States as an exchange student.
