
/   This may be a caching thing, but a comment here enables the first header

%h2
  What is Cafe Ambience

%p
  There are two people in this world: those who study well in silence and those who study well with some kind of ambient noise. For many of us, "that cafe sound" provides the perfect energy to concentrate on some work or relax over a cup of joe. The combined mix of sounds- clatter of silverware on dishes and the lull of voices of a busy lunch hour- makes for the perfect background white noise. Cafe Ambience brings you that mood.

%p
  Equally important to the cafe experience is the unique character of the place. There is a reason why you come back to the same cafe and sit at the same spot to pick up thoughts left there from before. We at Cafe Ambience believe that each cafe has its own distinct character and feeling and our recordings are unique to the cafes we bring to you.

%h2
  Who are we?

%p
  The story of Cafe Ambience begins in the student centre of Hillsdale College, during finals week. Founder Parker Fox, began looking for alternative white noises to listen to while studying and found RainyMood.com, a website that streams recordings of thunderstorms. This gave Parker the idea to stream his favorite ambient background noise: cafes.

%p
  After moving to Minnesota, Parker was inspired enough to make the website a reality after brainstorming business ideas with roommate and business entrepreneur, Kurt Weber. Looking across the hall they found their other roommate, Arthur Aaberg, who provides the technical engineering. After a few months of the website being active and growing, Kurt had ambitions to bring in an international element to the website, and in came the fourth element to the team, Nick Bohn, hailing from Hamburg Germany.

%p
  Apart from the fun we have making this website and recording different atmospheres, we simply love local cafes. It is our joy to visit new cafes and restaurants, and capture their ambience, and bring them to you.


/ Make this lower section a partial, this file is already too big
%h3
  Parker Fox

%p
  The man who origionally had the idea to create Cafe Ambience. Parker now spends much of his time studying and working with law. Parker is often found exploring craft breweries and catching up on classical literary masterpieces.

%h3
  Kurt Weber

%p
  Considering himself a life long learner, who has a passion for innovative and technology. Kurt often finds himself working on startups. When not working on Cafe Ambience, he can usually be found playing the piano, snowboarding, or playing soccer.

%h3
  Arthur Aaberg

%p
  A do-it-yourselfer who has a passion for figuring out how things work, why they are not working, and how to fix them. When not working on Cafe Ambience or at work, he enjoys woodworking and getting outside to explore -- be it a simple bike ride or fishing trip, day hiking or a week long adventure by canoe.

%h3
  Nick Bohn
%p
  Coffeeholic, black and no sugar from Germany. Econ-Student who loves languages and travelling. Nick and Kurt have been friends ever since he decided to spend a year living in the United States as an exchange student.






