#banner
  .banner_content
    %h1 CafeAmbience
    %p This is giberish that i'll be changing eventually
    %button= link_to 'Contribute', new_user_session_path

#testimonial
  .wrapper
    %p.quote We are gunna bring it back
    %p.name -Kurt Weber

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Cafes
        %p Echo park pinterest brunch adaptogen glossier. Snackwave banjo semiotics, XOXO pickled keffiyeh art party chicharrones gentrify disrupt. Shoreditch chicharrones kinfolk
      .callout
        %h2 Cafes
        %p Echo park pinterest brunch adaptogen glossier. Snackwave banjo semiotics, XOXO pickled keffiyeh art party chicharrones gentrify disrupt. Shoreditch chicharrones kinfolk
      .callout
        %h2 Cafes
        %p Echo park pinterest brunch adaptogen glossier. Snackwave banjo semiotics, XOXO pickled keffiyeh art party chicharrones gentrify disrupt. Shoreditch chicharrones kinfolk


