#song
%audio#player{controls: 'controls', autoplay: 'true', loop: 'true' }
  %source{src: @cafe.mp3.url}

/ %audio#music{:controls => "controls"}
/   %source{:src => "@cafe.mp3.url", :type => "audio/ogg"}
/   %source{:src => "@cafe.mp3.url", :type => "audio/mpeg"}
/ %button#pButton.play{:onclick => "playAudio()"}


/ %audio#music{:controls => "controls"}
/   %source{:src => "@cafe.mp3.url"}
/     .play
/     .pause
/   %button#pButton.play{:onclick => "playAudio()"}

/ :javascript

/ var music = document.getElementById('music');

/ function playAudio() {
/   if (music.paused) {
/     music.play();
/     pButton.className = "";
/     pButton.className = "pause";
/   } else {
/     music.pause();
/     pButton.className = "";
/     pButton.className = "play";
/   }
/ }

