/ .banner
/   Cafe's, Coffeeships, and Breweries
/ .wrapper_with_patting

.wrapper_with_padding
  #cafes.clearfix
    - @cafes.each do |cafe|
      %a{ href: (url_for [cafe])}
        .cafe
          .image_holding_div
            = image_tag cafe.image.url(:medium)
            .test
              / %p this is a test
              %p.name= cafe.name
              %p.description= cafe.description

