.app-login{
  width: 50%;
  padding-right: 20px;
  float: left;
}

.user-image{
  height:200px;
  width: 50%;
  float: right;
}

.file .image-test-class{
  color: red;
}

.form-inputs-outside{
  font-weight: bold;
}

.fifty-width{
  width: 50%;
  float: left;
  display: flex;
}

.app-information{
  width: 50%;
  float: right;
  padding-left: 20px;
}

.app-information-styles{
  background-color: grey;
  opacity: .8;

  p{
    padding: 5px 30px 30px 30px;
  }

  h3{
    padding: 10px;
    text-align: center;
  }
}

.form-actions-container{
  width: 100%;

  .form-actions{
    float: left;
    width: 50%;
  }

  .devise-links{
    float: right;
    width: 50%;
    padding-top: 30px;
  }

}

.password-forgetting-div{
  width: 60%;
  margin: auto;
}


@media  screen and  (max-width: 750px) {
  .app-login{
    width: 100%;
  }

  .app-information{
    width: 100%;
  }

}
